<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div id="app-container" class="hidden" style="padding:20px;">
    <h2>Administration</h2>
    <div id="admin-content"></div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/auth.js"></script>
  <script src="/js/search-admin.js"></script>
</body>
</html>

